# Database
DATABASE_URL="postgresql://dropit:dropit_secret@localhost:5432/dropit"
POSTGRES_USER=dropit
POSTGRES_PASSWORD=dropit_secret
POSTGRES_DB=dropit

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Microsoft Azure AD
AZURE_AD_CLIENT_ID="your-azure-app-client-id"
AZURE_AD_CLIENT_SECRET="your-azure-app-client-secret"
AZURE_AD_TENANT_ID="your-azure-tenant-id"

# AWS S3
AWS_REGION="us-east-1"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
AWS_S3_BUCKET="your-s3-bucket-name"
